<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>演示</title>
    <link th:href="@{/ssm-vue-frame/css/demo.css}" rel="stylesheet">
</head>
<body>
<div id="index"></div>
<!-- built files will be auto injected -->
<script type="text/javascript" th:src="@{/ssm-vue-frame/js/vendor.js}"></script>
<script type="text/javascript" th:src="@{/ssm-vue-frame/js/demo.js}"></script>
</body>
</html>
